@font-face {
  font-family: harry;
  src: url(./HARRYP__.TTF);
}
@font-face {
  font-family: fantastic;
  src: url(./Animales\ Fantastic.otf);
}
#root {
  --toastify-font-family: fantastic;
  font-size: 18px;
  font-variant: small-caps;
}
h1 {
  font-family: fantastic;
  font-size: 30px;
  color: white;
  margin: 0px;
}
h2 {
  font-family: fantastic;
  font-size: 12px;
  font-style: italic;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 1px 2px 1px #4d4c4c;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 100vw;
  height: 90vh;
}
.menu p {
  font-variant: small-caps;
  position: absolute;
  margin-top: 230px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  width: 300px;
  font-family: fantastic;
  color: #ffff;
}
.menu button {
  position: absolute;
  margin-top: 300px;
  border: 3px solid rgb(105, 95, 44);
  border-top: 0px;

  background-color: rgb(230, 208, 84);
  width: 130px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;

  cursor: pointer;
  box-shadow: 6px 2px 15px -1px #000000;
}
.menu button:hover {
  background-color: rgb(252, 233, 128);
}
.menu button:active {
  border: none;
  width: 130px;
  border-top: 2px solid rgb(105, 95, 44);
  border-left: 2px solid rgb(105, 95, 44);
  border-right: 2px solid rgb(105, 95, 44);
  background-color: rgb(161, 145, 62);
}
.castle {
  width: 900px;
  height: auto;
  margin-top: 100px;
}
.container-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#titulo {
  margin-top: 30px;
  font-family: harry;
  font-size: 90px;
  letter-spacing: 6px;
  text-align: center;
  color: rgb(230, 208, 84);
  text-shadow: 4px 3px 0px #4d3a11;
}

.display-none {
  display: none;
}

.game {
  display: flex;
}

.game h1 {
  font-size: 50px;
  color: white;
}

.container {
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container-cards {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.container-cards img {
  width: 140px;
  height: 190px;
  border-radius: 100%;
}

.container h1 {
  z-index: 1;

  margin-top: 170px;
  color: #dddddd;
  position: absolute;
  text-align: center;
  width: 180px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: fantastic;
  font-size: 20px;
  font-variant: small-caps;
  letter-spacing: 2px;
  text-shadow: 4px 3px 4px #000000;
}
.container h2 {
  color: #b6b3b3;

  border-radius: 5px;

  position: absolute;
  margin-top: -200px;
  text-shadow: 3px 3px 3px #000000;
  background-color: none;
  font-variant: small-caps;
  font-size: 18px;
  width: 150px;
}

.slytheryn-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  animation-name: card;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.gryffindor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  animation-name: card;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.container .house {
  position: absolute;
  z-index: -1;
  width: 230px;
  height: 220px;
}

.border-green {
  width: 140px;
  display: flex;
  flex-direction: column;
  border: 3px solid green;
  border-radius: 100%;
  align-items: center;
}

.border-red {
  width: 140px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(119, 18, 18);

  border-radius: 100%;
  align-items: center;
}

.separador {
  height: 20px;
  width: 0vw;
}

.container-cards p {
  position: absolute;
  z-index: 4;

  color: rgb(206, 164, 28);
  font-family: harry;
  font-variant: small-caps;
  font-size: 40px;
  margin: 0px;
  margin-top: -94vh;
  filter: opacity(50%);
}

.mage-card-dead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
}

.ravenclaw-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  animation-name: card;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.ravenclaw-card h2 {
  color: rgb(103, 193, 221);
}
.slytheryn-card h2 {
  color: rgb(23, 223, 23);
}
.gryffindor-card h2 {
  color: rgb(255, 83, 83);
}
.mage-card-dead img {
  border: 2px solid black;
}
.mage-card-dead h1 {
  margin-top: 195px;
  font-size: 17px;
  color: #cfcfcf;
}
.mage-card-dead h2 {
  font-size: 30px;
  margin-top: 0px;
  color: #cfcfcf;
  font-family: Arial, Helvetica, sans-serif;
  animation-name: dead-card;
  animation-duration: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.border-blue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(82, 151, 172);
  border-radius: 100%;
}

.container-cards .gravestone {
  margin-left: 5px;
  position: absolute;
  margin-top: -225px;
  width: 220px;
  height: 240px;
  z-index: -1;
  border: none;
  border-radius: 0px;
}
.deadCardFull {
  animation-name: dead-card;
  animation-duration: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.deadCardFull:hover {
  filter: brightness(125%);
  filter: sepia(80%);
  cursor: pointer;
}
.ravenclaw-card:hover {
  filter: brightness(125%);
  filter: sepia(80%);
  cursor: pointer;
}
.slytheryn-card:hover {
  filter: brightness(125%);
  filter: sepia(80%);
  cursor: pointer;
}
.gryffindor-card:hover {
  filter: brightness(125%);
  filter: sepia(80%);
  cursor: pointer;
}

#titulo span {
  display: inline-block;
  animation-name: wiggle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  margin-bottom: 30px;
}
#titulo .wiggle {
  display: inline-block;
  animation-name: wigglehard;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.container-victory {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  animation: card;
  animation-duration: 5s;
  align-items: center;
  justify-content: center;
}
.container-victory h1 {
  margin-top: 530px;
  font-size: 28px;
  width: 300px;
}
.container-victory img {
  width: 300px;
  border: 2px solid rgb(221, 221, 43);
  border-radius: 10px;
}

@keyframes dead-card {
  0% {
    opacity: 0%;
    filter: grayscale(0%);
    color: rgb(165, 14, 14);
    font-size: 50px;
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
    opacity: 100%;
    filter: grayscale(100%);
    font-size: 20px;
  }
}

@keyframes card {
  0% {
    filter: sepia(125%);
    margin-top: -200px;
    opacity: 0%;
  }
  100% {
    margin-top: 0;
    opacity: 100%;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg) translateY(0px);

    letter-spacing: 10px;
  }

  20% {
    transform: rotate(10deg) translateY(10px);
  }

  40% {
    transform: rotate(0deg) translateY(0px);
  }

  60% {
    transform: rotate(-10deg) translateY(-10px);
  }

  80% {
    transform: rotate(-5deg) translateY(0px);
  }

  100% {
    letter-spacing: 15px;
    transform: rotate(10deg) translateY(10px);
  }
}

@keyframes wigglehard {
  0% {
    transform: translateY(0px) rotate(0deg);
    letter-spacing: 10px;
  }
  25% {
    transform: translateY(20px) rotate(-5deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  75% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    letter-spacing: 20px;
  }
}
@media (max-width: 510px) {
  #titulo span {
    font-size: 60px;
  }
}

@media (min-width: 800px) {
  .container-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 800px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;

    background: radial-gradient(ellipse at bottom, #1b2735 40%, #090a0f 100%);
    overflow: hidden;
  }
}
